<%= form_for([@glossary, @term]) do |f| %>
	<%= render 'shared/error_messages', object: f.object %>
	<div class="field">
		<%= f.text_field :term, placeholder: "new term" %>
	</div>
	<div class="field">
		<%= f.text_area :definition, placeholder: "definition" %>
	</div>
	<%= f.submit "Post", class: "btn btn-large btn-primary" %>
<% end %>