<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
	<div class="home-input" id="home-form-field1">
		<%= f.email_field :email, placeholder: "email", autofocus: true, id: "sign_in_email", autocomplete: :off %>
	</div>

	<div class="home-input right-field">
		<%= f.password_field :password, placeholder: "password", autocomplete: "off", id: "sign_in_password" %>
	</div>
	
	<%= content_tag :div, class: 'invisi-button' do %>
		<%= f.submit "Sign in", id: "sign_in_submit" %>
	<% end %>

	<%= content_tag :div, id: 'flash-message' do %>
		<% flash.each do |name, msg| %>
			<%= content_tag :div, msg, id: "flash_#{name}" unless msg.blank? %>
		<% end %>
	<% end %>
<% end %>