<footer class="footer">
  <nav>
    <ul>
   		<li><%= link_to "Sign up",	'#' %></li>
      <li><%= link_to "Help",		help_path %></li>
      <li><%= link_to "Contact",	'#' %></li>
      <li><%= link_to "Home", root_path %></li>
      <% if params[:controller] == "glossaries" && params[:action] == "show" %>
      	<li>
					<%= link_to new_glossary_term_path(@glossary, @term),
                      remote: true,
                      data: { :toggle => 'modal', :target => '#termForm' },
                      id: 'add-terms' do %>
						<i class="fa fa-plus-circle fa-5x"></i>
					<% end %>
				</li>
        <li>
          <a><i class="fa fa-adjust fa-5x" id="edit-terms"></i></a>
        </li>
      <% end %>
      <li><%= Time.now.strftime('%H:%M:%S') %></li>
    </ul>
  </nav>
</footer>