<footer class="footer">
  <nav>
    <ul id="nav-bar">
    <% if current_user %>
      <ul id="nav-left-side">
        <li id="omni">
          <i id='omni-icon' class="fa fa-bullseye fa-5x"></i>
          <ul class="extra">
            <%= footer_button('sign-out','fa-arrow-circle-left', link: destroy_user_session_path(@user), method: :delete ) %>
            <%= footer_button('profile', 'fa-cog', link: edit_user_registration_path) %>
            <%= footer_button('help', 'fa-question-circle', link: help_path) %>
          </ul>
        </li>
        <%= page_footer_buttons %>
      </ul>
      <li id="debug_time"><%= Time.now.strftime('%H:%M:%S') %></li>
      <%= footer_button('home', 'fa-home', link: root_path) %>
    <% else %>
      <%= footer_button('sign', 'fa-arrow-circle-up') %>
      <%= footer_button('help', 'fa-question-circle', link: help_path ) %>
      <%= footer_button('about', 'fa-info-circle') %>
    <% end %>
    </ul>
  </nav>
</footer>